/*
*   Base Styling
 */

$white: #fff;
$blue: #6AC2EE;
$red: #E34C60;
$green: #9BC463;

.white{color:white;}

.p-blue{color:$blue;}
.p-red{color:$red;}
.p-green{color:$green;}

.bg-blue{background-color:$blue;}
.bg-red{background-color:$red;}
.bg-green{background-color:$green;}


html{
    overflow-x: hidden;
}

h1{
    font-size: 2rem;
}

h2,h3{
    margin: 50px 0;
}

h3{
    text-transform: uppercase;
}

p{
    line-height:1.6;
}

.ul{
    list-style: initial;
    margin-left: 1.2rem;
}

img{
    max-width:initial;
}

.large-text{
    font-size:6rem !important;
}
