/*
*   Project Component
 */
.intro-para{
    margin-top:50px;
}

.project{
    h1{
        padding-top:25px;
    }

    .portfolio-image{
        margin:50px 0;
    }

    .back{
        margin:50px 0;
    }
}
